
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main_frame {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.map_wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  float: left;
  margin-top: 10px;
}
/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */

#map {
  position: relative;
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

.search_form_wrapper {
  margin-top: 50px;
  float: left;
  width: 100%;
}
/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  /* height: 300px; */
}

.mcnt{
    float: left;
    width: 100%;
    height: auto;
       text-align: center;
}

.mcnt h3{
    float: left;
    margin-top:15px;
    margin-bottom: 15px;
 
    width:100%;
}



#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input:not(:placeholder-shown) {
 outline: solid green 2px;

}