/* CSS Document */

	 <style type="text/css">
        .style1
        {
            width: 100%;
            background-color: #999966;
            height: 100px;
        }
        .form
        {
            margin-bottom: 20px;
            margin-left: 10%;
            margin-right: 10%;
        }
        .style3
        {
            width: 100%;
            height: 30px;
            background-color: #006666;
        }
         .style13
        {
            width: 100%;
        background-color: #FFFFFF;
        }
        .style6
        {
            width: 100%;
            height: 30px;
            background-color: #000000;
        }
        .style7
        {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 9px;
            text-decoration: none;
            color: #FFFFFF;
        }
        .ver11
        {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 9px;
        }
                
div#copyright {
    font:11px 'Trebuchet MS';
    color:#FFF;
    text-indent:30px;
    padding:300px 0 0 0;
}
div#copyright a { color:#0080ff; }
div#copyright a:hover { color:#F00000; }
div#menu {
    top:40px;
    left:0px;
    width:100%;
    }
    
body {
	
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0; color:#FFFFFF
}
a{ color:#FFCC00;}
a:focus {
	outline: none;
}
ul.sidenav {
	font-size: 1.2em;
	float: left;
	width: 221px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #003876;
	border-bottom: 1px solid #3373a9;
	border-top: 1px solid #003867;
}
ul.sidenav li a{
	display: block;
	color: #fff;
	text-decoration: none;
	width: 221px;
	padding: 10px 10px 10px 35px;
	background: url(Images/sidenav_.gif) no-repeat 5px 7px;
	border-top: 1px solid #3373a9;
	border-bottom: 1px solid #003867;
	font-size:11px;
}
ul.sidenav li a:hover {
	background: #fff url(Images/sidenav_.gif) no-repeat 5px 7px;
	border: 1px solid #1a4c76;
	color:#003867;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
ul.sidenav li span{	display: none; }
ul.sidenav li a:hover span {
	display: block;
	font-size: 0.8em;
	padding: 10px 0;
}
        .style14
        {
            width: 250px;
        }
        .style15
        {
            height: 750px;
            width: 130%;
        }
    </style>